.border{
    border: 2px solid  red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: #000000c4;
    color: white; 
}
.bg-purple{
    background-color: #2f2f2f6c;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #815b9e3f;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}


/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 0px;
  }
  
  
  
  /* For Firefox */
body{
  scrollbar-color: #caf0f8 #03055e97; /* Dark color for the thumb and track in Firefox */  
}
  
  